<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>memoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginout</display-name>
    <servlet-name>Loginout</servlet-name>
    <servlet-class>servlet.Loginout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginout</servlet-name>
    <url-pattern>/Loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoFormServlet</display-name>
    <servlet-name>MemoFormServlet</servlet-name>
    <servlet-class>servlet.MemoFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoFormServlet</servlet-name>
    <url-pattern>/MemoFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoFormUpdateServlet</display-name>
    <servlet-name>MemoFormUpdateServlet</servlet-name>
    <servlet-class>servlet.MemoFormUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoFormUpdateServlet</servlet-name>
    <url-pattern>/MemoFormUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoUpdateFormServlet</display-name>
    <servlet-name>MemoUpdateFormServlet</servlet-name>
    <servlet-class>servlet.MemoUpdateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoUpdateFormServlet</servlet-name>
    <url-pattern>/MemoUpdateFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemosSelectServlet</display-name>
    <servlet-name>MemosSelectServlet</servlet-name>
    <servlet-class>servlet.MemosSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemosSelectServlet</servlet-name>
    <url-pattern>/MemosSelectServlet</url-pattern>
  </servlet-mapping>
</web-app>